.rating {
	width: 100%;
	height: 100vh;
	background: #2A2D34;
	color: #fff; 
	z-index: 10;
}

.rating_header { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	overflow: hidden;
}

.rating img {
	width: 100px;
	height: auto;
}

.rating_box {
	
}

.box_head {
	display: flex; 
	width: 100%;
	background: #F26430;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.box_body {
	border-left: 1px solid rgba(255,255,255,0.4);
	border-right: 1px solid rgba(255,255,255,0.4);
	
}
 
.r_row {
	border-bottom: 1px solid rgba(255,255,255,0.4);
	display: flex;
	align-items: center;
}

.r_row > div {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.clear{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.disabled {
	display: none!important;
}

.r_country {
	display: flex;
	align-items: center;
	justify-content: center;
}

.country_with_img {
	width: 40px;
	height: auto;
}

#ra0 {
	height: 70vh;
}